<template>
  <div id="app">
    <!-- Your main application content goes here -->
    <router-view />
  </div>
</template>

<style>
#app {
  background-color: #f4f4f4; /* Set the background color to dirty white */
  height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* Hide the content that may overflow beyond the viewport */
}

/* Add any additional global styles here */
</style>

<script>
export default {
  name: 'App',
};
</script>
