<template>
  <q-layout view="hHh Lpr lFf">
    <!-- Bell Icon outside the search bar -->
    <div class="bell-icon-container">
      <q-icon name="notifications" class="bell-icon" @click="handleBellIconClick" />
    </div>

    <!-- Logo -->
    <div class="logo-container">
      <img src="https://media4.giphy.com/avatars/nattrocha/RbXnrTephetH.gif" alt="Logo" class="logo-image" />
    </div>
    <!-- Search Bar -->
    <div class="search-bar">
      <q-input
        filled
        outlined
        v-model="searchText"
        placeholder="Search Filter ..."
        class="search-input"
        @input="search"
      >
        <template v-slot:append>
          <q-icon name="search" class="search-icon" />
        </template>
      </q-input>
    </div>

    <!-- Menu Bar -->
    <div class="menu-bar" :style="{ width: menuBarClosed ? '0' : '360px' }">
      <!-- Menu 1 -->
      <div class="menu-item" @mouseover="hoverItem(1)" @mouseout="hoverItem(0)" @click="navigateToIndexPage">
        <i class="material-icons">account_balance</i>
        <span>Dashboard</span>
      </div>

      <!-- Menu 2 -->
      <div class="menu-item" @mouseover="hoverItem(2)" @mouseout="hoverItem(0)" @click="navigateToTableComponent">
        <i class="material-icons">groups</i>
        <span>Employee List</span>
      </div>

      <!-- Menu 3 -->
<div class="menu-item menu-3" @mouseover="hoverItem(3)" @mouseout="hoverItem(0)" @click="navigateToDataComponent">
  <i class="material-icons">delete</i>
  <span>Deleted List</span>
</div>
    </div>

    <!-- Sidebar -->
    <q-drawer show-if-above side="left" :width="104">
      <!-- Your sidebar content goes here -->
      <div class="sidebar">
        <!-- Diamond icon at the very top -->
        <q-icon
          name="diamond"
          size="3em"
          color="#212121"
          class="q-mb-md diamond-icon"
        />

        <!-- Home and List icons positioned close together -->
        <div class="home-list-icons">
          <q-icon
            name="home"
            size="3em"
            color="#212121"
            class="q-ml-md"
          />

          <!-- List icon with click and hover functionality -->
          <q-icon
            name="list"
            size="3em"
            color="#212121"
            class="q-ml-md clickable-icon"
            @click="toggleMenuBar"
            @mouseover="hoverIcon(true)"
            @mouseout="hoverIcon(false)"
          />

          <!-- Text "Menu" under the icon list -->
          <div class="menu-text">
            Menu
          </div>
        </div>
      </div>
    </q-drawer>

    <!-- Main content area -->
    <q-page-container class="main-container">
      <!-- Explicitly use the IndexPage component here -->
      <IndexPage :show-in-right-sidebar="showRightSidebarContainer" />

      <!-- Right Sidebar for IndexPage -->
      <div v-if="showRightSidebarContainer" class="custom-right-sidebar">
        <div class="custom-container">
          <component :is="rightContainerComponent" :show-in-right-sidebar="showRightSidebarContainer" />
          <!-- Your content for the right sidebar container goes here -->
        </div>
      </div>
    </q-page-container>
  </q-layout>
</template>

<script>
import IndexPage from 'pages/IndexPage.vue';
import DataComponent from 'pages/DataComponent.vue';
import TableComponent from 'pages/TableComponent.vue';

export default {
  name: 'MainLayout',
  components: {
    IndexPage,
    DataComponent,
    TableComponent
  },
  data() {
    return {
      menuBarClosed: false,
      isIconHovered: false,
      searchText: '',
      showRightSidebarContainer: false,
      currentRoute: '',
      selectedMenu: 0,
    };
  },
  methods: {
    showIndexPageSidebar() {
      this.showRightSidebarContainer = true;
    },
    hoverItem(index) {
      // Handle hover logic here
      console.log(`Hovered over Menu ${index}`);
    },
    navigateToIndexPage() {
      this.selectedMenu = 1;
      this.showRightSidebarContainer = true;
      this.$router.push('/IndexPage');
    },
    handleBellIconClick() {
      // Implement the logic for bell icon click
      console.log('Bell icon clicked');
    },
    navigateToDataComponent() {
      this.selectedMenu = 2;
      this.showRightSidebarContainer = true;
      this.$router.push('/DataComponent');
    },
    navigateToTableComponent() {
      this.selectedMenu = 3;
      this.showRightSidebarContainer = true;
      this.$router.push('/TableComponent');
    },
    toggleMenuBar() {
      this.menuBarClosed = !this.menuBarClosed;
    },
    hoverIcon(isHovered) {
      this.isIconHovered = isHovered;
    },
    search() {
      // Implement your search logic here using this.searchText
      console.log('Searching for:', this.searchText);
    },
    toggleRightSidebarContainer() {
      this.showRightSidebarContainer = !this.showRightSidebarContainer;
      // Add a small delay to ensure the transition completes before the right sidebar content changes
      setTimeout(() => {
        this.$forceUpdate(); // Force a re-render to apply the transition effect
      }, 300); // Adjust the delay based on your transition duration
    },
  },
  computed: {
    rightContainerComponent() {
      if (this.selectedMenu === 1) {
        return 'IndexPage';
      } else if (this.selectedMenu === 2) {
        return 'DataComponent';
      } else if (this.selectedMenu === 3) {
        return 'TableComponent';
      }
      return ''; // Empty string for no right container
    },
  },
};
</script>

<style scoped>
/* Add styles for the search bar */
.search-bar {
  background-color: transparent;
  padding: 28px;
  margin-left: 106px; /* Adjust the margin as needed */
  margin-top: 20px;
  margin-bottom: -60px;
}

.search-input {
  width: 480px; /* Adjust the width as needed */
}

.search-icon {
  cursor: pointer;
}

.menu-bar {
  width: 360px;
  height: 1040px;
  background-color: #FFFFFF;
  color: #212121;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 126px;
  margin-right: 16px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 60px;
}

.menu-title {
  padding: 16px;
  color: #212121;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 16px;
  cursor: pointer;
  position: relative; /* Add relative positioning */
}

.menu-item i {
  margin-right: 8px; /* Adjust the space between the icon and text */
}

.menu-item:hover {
  background-color: #EBEBEB;
}

.menu-item:hover::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: #249990;
}

.menu-3 {
  margin-right: auto; /* Push Menu 3 to the left */
}

/* Additional styles for sidebar */
.sidebar {
  display: flex;
  width: 104px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between; /* Add space between items */
  align-items: center;
}

.diamond-icon {
  margin-top: 30px; /* Adjust the top margin as needed */
  margin-left: 5px; /* Adjust the left margin as needed */
}

.home-list-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-text {
  color: var(--text-icon-color, #212121);
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 5px; /* Adjust the top margin as needed */
  margin-left: 15px;
  margin-bottom: 15px;
}

.main-container {
  flex-grow: 1; /* Allow the main container to grow and take the available space */
  background-color: #f4f4f4;
  padding: 20px;
}

/* Add any additional styling for your sidebar or adjust as needed */

.clickable-icon {
  cursor: pointer;
}

.clickable-icon:hover {
  color: #007BFF; /* Change the color for the hover effect as needed */
}
.custom-right-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1000px; /* Adjust the width as needed */
  height: 100%; /* Cover the entire height */
  background-color: #ffffff; /* White background */
  overflow-y: auto; /* Add scrollbar if content overflows vertically */
  z-index: 0; /* Adjust the z-index as needed to ensure it overlays other elements */
  margin-right: 30px;
  margin-top: 130px;
  border-radius: 15px;
}
.right-sidebar-header {
  padding: 20px;
  text-align: left;
  border-bottom: none; /* Remove the bottom border */
}

.dashboard-title {
  color: #249990; /* Set the text color to white or adjust as needed */
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
  margin-left: 10px;
}
.logo-container {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 10000; /* Adjust z-index as needed */
}

.logo-image {
  width: 90px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 100px;
  object-fit: contain; /* Maintain aspect ratio and fit the entire image inside the container */
  border-radius: 50%; /* Crop the logo into a circle */
}
.bell-icon-container {
  position: fixed;
  top: 50px;
  left: 1250px; /* Adjust the left position as needed */
  z-index: 10001; /* Adjust z-index as needed, greater than the logo's z-index */
}

.bell-icon {
  cursor: pointer;
}
.bell-icon {
  font-size: 32px; /* Adjust the font size to make the bell icon bigger */
}
.bell-icon:hover {
  animation: ringing 0.5s ease-in-out infinite; /* Add the ringing animation on hover */
}

@keyframes ringing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
</style>
