<template>
  <q-page>
    <div class="data-section">
      <div class="title">Deleted Employee Data</div>
      <div class="deleted-data-list">
        <q-table :rows="deletedTableData" :columns="columns" row-key="id" style="width: 95%;">
          <template v-slot:header="props">
            <q-tr :props="props" class="table-header">
              <q-th v-for="col in columns" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td v-for="col in columns" :key="col.name">
                {{ col.field === 'date' ? formatDate(props.row[col.field]) : props.row[col.field] }}
              </q-td>
              <q-td>
                <q-btn @click="deleteEmployee(props.row)" color="negative" label="Delete" />
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script>
import { ref, onMounted, watch } from 'vue';
import axios from 'axios';

export default {
  name: 'DataComponent',
  setup() {
    const deletedTableData = ref([]);

    const columns = [
      { name: 'ID', label: 'Employee ID', align: 'left', field: 'id', sortable: true },
      { name: 'Name', label: 'Name', align: 'left', field: 'name', sortable: true },
      { name: 'Email', label: 'Email', align: 'left', field: 'email', sortable: true },
      { name: 'Status', label: 'Status', align: 'left', field: 'status', sortable: true },
      { name: 'Address', label: 'Address', align: 'left', field: 'address', sortable: true },
      { name: 'Date', label: 'Date', align: 'left', field: 'date', sortable: true },
    ];

    const formatDate = (dateString) => {
      return dateString ? new Date(dateString).toLocaleString() : '';
    };

    const deleteEmployee = async (employee) => {
      try {
        // Send DELETE request to remove data from the server
        await axios.delete(`http://localhost:3000/deleted-employees/${employee.id}`);

        // Update the local deletedTableData by filtering out the deleted row
        deletedTableData.value = deletedTableData.value.filter(e => e.id !== employee.id);
      } catch (error) {
        console.error('Error deleting employee:', error);
      }
    };

    onMounted(async () => {
      try {
        const response = await axios.get('http://localhost:3000/deleted-employees');
        deletedTableData.value = response.data;
        console.log('Fetched deleted data:', deletedTableData.value);
      } catch (error) {
        console.error('Error fetching deleted data:', error);
      }
    });

    // Watch for changes in the deletedTableData
    watch(deletedTableData, () => {
      // Handle any logic needed when deleted data changes
    });

    return {
      columns,
      deletedTableData,
      formatDate,
      deleteEmployee,
    };
  },
};
</script>

<style scoped>
.data-section {
  margin-top: 40px;
}

.title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #249990;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 40px;
}

.deleted-data-list {
  margin-left: 20px;
}

.table-header {
  background-color: #249990;
  color: #fff;
}

/* Updated style for the delete column header */
.deleted-data-list .q-table .thead th:last-child {
  background-color: #249990 !important;
  color: #fff !important;
}

</style>


