<template>
  <q-page class="q-ma-md">
    <q-item-separator v-show="false" />

    <!-- Title Header "Dashboard" -->
    <div class="dashboard-title">
      Dashboard
    </div>

    <q-item class="q-mb-md">
      <q-item-section v-for="card in cards" :key="card.id">
        <q-card style="width: 212px; height: 190px; margin-right: 10px; box-shadow: none; border: 2px solid #ccc;">
          <q-card-section>
            <q-card-title class="text-h6">{{ card.title }}</q-card-title>
          </q-card-section>
        </q-card>
      </q-item-section>
    </q-item>
  </q-page>
</template>

<script>
export default {
  props: ['showInRightSidebar'],
  data() {
    return {
      cards: [
        {
          id: 1,
          title: 'Our Changing Planet',
        },
        {
          id: 2,
          title: 'Exploring the Universe',
        },
        {
          id: 3,
          title: 'Underwater Wonders',
        },
        {
          id: 4,
          title: 'Mountain Peaks',
        },
      ],
    };
  },
  watch: {
    showInRightSidebar(newVal) {
      if (newVal) {
        // Adjust this as needed
        console.log('IndexPage is shown in the right sidebar!');
      }
    },
  },
};
</script>

<style scoped>
.dashboard-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #249990;
  margin-bottom: 20px;
  margin-top: 40px; /* Add margin-top property here */
  margin-left: 20px;
}
</style>
