<template>
  <q-page>
    <!-- Title Section -->
    <div class="title-section">
      <div class="title" style="margin-left: 30px;">Employee List</div>
      <q-btn @click="openAddEmployeeDialog" label="Add Employee" color="#249990" class="q-ml-md" />
      <q-input v-model="searchText" dense outlined placeholder="Search..." class="q-ml-md search-bar">
        <template v-slot:prepend>
          <q-icon name="search" />
        </template>
      </q-input>
    </div>

    <!-- Filters Section -->
    <div class="filters-section" style="margin-left: 30px; display: flex; align-items: center;">
      <div class="filter-label">Filters:</div>
      <q-select
        v-model="selectedFilter"
        :options="dropdownOptions"
        use-input
        outlined
        label="Select Filter"
        emit-value
        map-options
        class="small-flat-filter-box"
        dense
      />
      <div class="date-filter">
        <q-input
          v-model="selectedDate"
          dense
          outlined
          placeholder="Select Date"
          type="date"
          v-on="on"
          v-popover="{ 'max-height': 400 }"
        />
      </div>
    </div>

    <!-- Table Section -->
    <q-table :rows="filteredTableData" :columns="columns" row-key="id" style="width: 95%; margin-left: 20px; margin-top: 20px;">
      <template v-slot:header="props">
        <q-tr :props="props" class="table-header">
          <q-th v-for="col in columns" :key="col.name" :props="props">
            {{ col.label }}
          </q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td auto-width v-for="col in columns" :key="col.name">
            <!-- Display three-dot icon for the 'Actions' column -->
            <template v-if="col.name !== 'Actions'">
              {{ props.row[col.field] }}
            </template>
            <template v-else>
              <q-icon
                name="more_vert"
                @click="openRowMenu(props.row, props.event)"
                class="row-actions-icon"
              />
              <q-menu ref="rowMenu" :context-menu="{ event: props.event }">
                <q-item clickable @click="editRow(props.row)">
                  <q-item-section>Edit</q-item-section>
                </q-item>
                <q-item clickable @click="deleteRow(props.row)">
                  <q-item-section>Delete</q-item-section>
                </q-item>
              </q-menu>
            </template>
          </q-td>
        </q-tr>
      </template>
    </q-table>

    <!-- Add Employee Dialog -->
    <q-dialog v-model="isAddEmployeeDialogOpen" persistent>
      <q-card>
        <q-card-section>
          <q-form @submit="addEmployee">
            <q-input v-model="newEmployee.name" label="Name" dense outlined />
            <q-input v-model="newEmployee.email" label="Email" dense outlined />
            <q-input v-model="newEmployee.status" label="Status" dense outlined />
            <q-input v-model="newEmployee.address" label="Address" dense outlined />
            <q-btn type="submit" label="Add" color="#249990" />
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>

    <!-- Edit Employee Dialog -->
    <q-dialog v-model="isEditEmployeeDialogOpen" persistent @before-show="setEditedEmployee">
      <q-card>
        <q-card-section>
          <q-icon
            name="arrow_back"
            @click="closeEditEmployeeDialog"
            class="back-arrow-icon"
          />
          <div class="dialog-title">Staff Profile Details</div>
          <q-form @submit="saveChanges">
            <q-input v-model="editedEmployee.name" label="Name" dense outlined :color="'#249990'" />
            <q-input v-model="editedEmployee.id" label="Employee ID" readonly dense outlined :color="'#249990'" />
            <q-input v-model="editedEmployee.email" label="Email" dense outlined :color="'#249990'" />
            <q-input v-model="editedEmployee.currentTask" label="Current Task" dense outlined :color="'#249990'" />
            <q-input v-model="editedEmployee.description" label="Description" dense outlined :color="'#249990'" />
            <q-input v-model="editedEmployee.status" label="Status" dense outlined :color="'#249990'" />
            <q-input v-model="editedEmployee.address" label="House Address" dense outlined :color="'#249990'" />
            <q-btn type="submit" label="Save Changes" color="#249990" />
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { ref, computed, onMounted, watch } from 'vue';
import axios from 'axios';
import {
  QBtn,
  QDialog,
  QForm,
  QInput,
  QSelect,
  QIcon,
  QMenu,
  QItem,
  QItemSection,
} from 'quasar';

export default {
  name: 'MyTable',
  setup() {
    // Sample data
    const tableData = ref([]);

    // Define table columns
    const columns = ref([
      { name: 'ID', label: 'Employee ID', align: 'left', field: 'id', sortable: true },
      { name: 'Name', label: 'Name', align: 'left', field: 'name', sortable: true },
      { name: 'Email', label: 'Email', align: 'left', field: 'email', sortable: true },
      { name: 'Status', label: 'Status', align: 'left', field: 'status', sortable: true },
      { name: 'Address', label: 'Address', align: 'left', field: 'address', sortable: true },
      { name: 'Date', label: 'Date', align: 'left', field: 'date', sortable: true },
      { name: 'Actions', label: 'Actions', align: 'right', field: 'actions' },
    ]);

    // Filtering logic
    const selectedFilter = ref('All');
    const selectedDate = ref(null);

    const dropdownOptions = ['All', 'Option 1', 'Option 2', 'Option 3'];

    const filteredTableData = computed(() => {
      if (selectedFilter.value === 'All' && !selectedDate.value) {
        return tableData.value.map(row => ({ ...row, actions: '' }));
      } else {
        return tableData.value.map(row => ({
          ...row,
          actions: (row.status === selectedFilter.value || selectedFilter.value === 'All') &&
                   (!selectedDate.value || new Date(row.date).toDateString() === new Date(selectedDate.value).toDateString()) ? '' : undefined,
        }));
      }
    });

    // Form data for adding a new employee
    const newEmployee = ref({
      name: '',
      email: '',
      status: '',
      address: '',
    });

    // Form data for editing an employee
    const editedEmployee = ref({
      id: '',
      name: '',
      email: '',
      currentTask: '',
      description: '',
      status: '',
      address: '',
    });

    // Dialog state
    const isAddEmployeeDialogOpen = ref(false);
    const isEditEmployeeDialogOpen = ref(false);

    // Search text
    const searchText = ref('');

    // Event for context menu
    const rowMenuEvent = ref(null);

    // Editing row ID
    const editingRowId = ref(null);

    // Open the Add Employee Dialog
    const openAddEmployeeDialog = () => {
      // Reset the form data
      newEmployee.value = {
        name: '',
        email: '',
        status: '',
        address: '',
      };
      isAddEmployeeDialogOpen.value = true;
    };

    // Open the Edit Employee Dialog
    const openEditEmployeeDialog = (row) => {
      // Set the editing row ID
      editingRowId.value = row.id;
      // Set the form data for editing
      editedEmployee.value = {
        id: row.id,
        name: row.name,
        email: row.email,
        currentTask: '', // Placeholder, add your logic for this field
        description: '', // Placeholder, add your logic for this field
        status: row.status,
        address: row.address,
      };
      isEditEmployeeDialogOpen.value = true;
    };

    // Close the Add Employee Dialog
    const closeAddEmployeeDialog = () => {
      isAddEmployeeDialogOpen.value = false;
    };

    // Close the Edit Employee Dialog
    const closeEditEmployeeDialog = () => {
      isEditEmployeeDialogOpen.value = false;
      // Reset the editing row ID and editedEmployee object
      editingRowId.value = null;
      editedEmployee.value = {
        id: '',
        name: '',
        email: '',
        currentTask: '',
        description: '',
        status: '',
        address: '',
      };
    };

    // Set the editedEmployee object before showing the Edit Employee Dialog
    const setEditedEmployee = () => {
      if (editingRowId.value) {
        const editingRow = tableData.value.find(row => row.id === editingRowId.value);
        if (editingRow) {
          // Set the form data for editing
          editedEmployee.value = {
            id: editingRow.id,
            name: editingRow.name,
            email: editingRow.email,
            currentTask: '', // Placeholder, add your logic for this field
            description: '', // Placeholder, add your logic for this field
            status: editingRow.status,
            address: editingRow.address,
          };
        }
      }
    };

    // Handle adding a new employee
    const addEmployee = async () => {
      // Validate and add the new employee data to the tableData
      if (newEmployee.value.name && newEmployee.value.email && newEmployee.value.status && newEmployee.value.address) {
        try {
          const response = await axios.post('http://localhost:3000/employees', {
            ...newEmployee.value,
          });

          const addedEmployee = response.data;

          // Update the newEmployee object with the received ID
          newEmployee.value = {
            ...newEmployee.value,
            id: addedEmployee.id,
          };

          tableData.value.push(addedEmployee);

          // Close the dialog
          closeAddEmployeeDialog();
        } catch (error) {
          console.error('Error adding employee:', error);
        }
      } else {
        console.error('Please fill in all fields.');
      }
    };

    // Handle saving changes to an employee
    const saveChanges = async () => {
      // Validate and save the edited employee data to the tableData
      if (editedEmployee.value.name && editedEmployee.value.email && editedEmployee.value.status && editedEmployee.value.address) {
        try {
          const response = await axios.put(`http://localhost:3000/employees/${editedEmployee.value.id}`, {
            name: editedEmployee.value.name,
            email: editedEmployee.value.email,
            status: editedEmployee.value.status,
            address: editedEmployee.value.address,
            // Add other fields as needed
          });

          const updatedEmployee = response.data;

          // Update the tableData with the edited employee
          const index = tableData.value.findIndex(employee => employee.id === updatedEmployee.id);
          if (index !== -1) {
            tableData.value[index] = updatedEmployee;
          }

          // Close the dialog
          closeEditEmployeeDialog();
        } catch (error) {
          console.error('Error saving changes:', error);
        }
      } else {
        console.error('Please fill in all fields.');
      }
    };

    // Handle deleting a row
    const deleteRow = async (row) => {
  try {
    // Send DELETE request to remove data from the server
    await axios.delete(`http://localhost:3000/employees/${row.id}`);

    // Update the local tableData by filtering out the deleted row
    tableData.value = tableData.value.filter(employee => employee.id !== row.id);

    // Add the deleted row to the deleted employee data with the deletion date
    const deletionDate = new Date().toISOString(); // Get the current date and time
    try {
      const response = await axios.post('http://localhost:3000/deleted-employees', {
        ...row,
        date: deletionDate,
      });
      const deletedEmployee = response.data;
      deletedTableData.value.push(deletedEmployee);
    } catch (error) {
      console.error('Error adding deleted employee:', error);
    }

    // Clear the rowMenuEvent
    rowMenuEvent.value = null;
  } catch (error) {
    console.error('Error deleting row:', error);
  }
};

    // Fetch data from the JSON Server on component mount
    onMounted(async () => {
      try {
        const response = await axios.get('http://localhost:3000/employees');
        tableData.value = response.data;
        console.log('Fetched data:', tableData.value);
      } catch (error) {
        console.error('Error fetching data:', error);
      }
    });

    // Watch for changes in the tableData and update the editedEmployee accordingly
    watch(tableData, () => {
      setEditedEmployee();
    });

    // Handle clicking on the three-dot icon
    const openRowMenu = (row, event) => {
      rowMenuEvent.value = { row, event };
    };

    // Handle editing a row
    const editRow = (row) => {
      // Open the Edit Employee Dialog
      openEditEmployeeDialog(row);
    };

    return {
      columns,
      selectedFilter,
      selectedDate,
      dropdownOptions,
      filteredTableData,
      openAddEmployeeDialog,
      isAddEmployeeDialogOpen,
      closeAddEmployeeDialog,
      addEmployee,
      newEmployee,
      searchText,
      openRowMenu,
      rowMenuEvent,
      editRow,
      deleteRow,
      isEditEmployeeDialogOpen,
      editedEmployee,
      saveChanges,
      closeEditEmployeeDialog,
    };
  },
};
</script>

<style scoped>
.q-page {
  position: relative;
  z-index: 1000000;
}

.title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 40px; /* Add margin-top property here */
}

.title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #249990;
}

.filters-section {
  display: flex;
  align-items: center;
}

.filter-label {
  margin-right: 10px;
}

.small-flat-filter-box {
  width: 170px;
  border-radius: 0;
}

.date-filter {
  margin-left: 10px;
}

.table-header {
  background-color: #249990;
  color: #fff;
}

.q-dialog {
  z-index: 10000;
}

.q-card {
  position: relative;
}

.q-card-section {
  z-index: 1;
}

.q-btn {
  background-color: #249990 !important;
  margin-left: 400px;
}

.search-bar {
  width: 150px;
  margin-right: 20px;
  margin-left: -30px;
}

.row-actions-icon {
  cursor: pointer;
  font-size: 18px;
  color: #249990;
  margin-right: 10px;
}

.back-arrow-icon {
  cursor: pointer;
  font-size: 24px;
  color: #249990;
  margin-right: 10px;
}

.dialog-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #249990;
}

/* Additional Styles for the Edit Employee Dialog */
.q-dialog .q-form {
  padding: 20px;
}

.q-dialog .q-input {
  margin-bottom: 15px;
  color: #249990;
}

.q-dialog .q-btn {
  margin-top: 20px;
}

.q-dialog .q-menu .q-item.q-item-type-push:hover .q-item-section {
  color: #249990 !important;
}
</style>

